<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
<meta charset="UTF-8">
<title>로그인 화면</title>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" th:src="@{/js/cookie.js}"></script>
<!-- 각 페이지에 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
	
		 //쿠키를 이용한 아이디 기억
		$(document).ready(function() {
			var userInputId = getCookie("userInputId");	// 쿠키의 key로 값을 가져온다.
			var setCookieYN = getCookie("setCookieYN");
	
			if (setCookieYN == 'Y') {
				$("#id_save").prop("checked", true);	// 체크 박스에 check
				$("#userId").val(userInputId);
			} else {
				$("#id_save").prop("checked", false);	// 체크 해제
			}
	
			//로그인 버튼 클릭
			$('#loginbtn').click(function() {
				// 아이디를 쿠키에 저장
				if ($("#id_save").is(":checked")) {				// id_save가 체크 되어있으면 true를 리턴
					var userInputId = $("#userId").val();
					setCookie("userInputId", userInputId, 60);	// 60일 동안 쿠키 저장
					setCookie("setCookieYN", "Y", 60);
				} else {
					deleteCookie("userInputId");
					deleteCookie("setCookieYN");
				}
			});
		});
		
	</script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
     .error {
        color: #bd2130;
     }
  </style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-md" style="height: 100%;">
			<div class="login-wrap">
				<!-- logo박스 -->
				<div class="row w-50 mx-auto mt-5 mb-5">
					<div class="col-5">
						<div class="w-100 float-end">
							<img class="float-end" alt="logo" src="/images/char_logo_01.png" width="50%" height="50%">
						</div>
					</div>
					<div class="col-7 my-auto">
						<div class="w-100 float-start mt-2 ms-2">
							<img class="float-start" alt="logo" src="/images/word_logo_01.png" width="60%" height="60%">
						</div>
					</div>
				</div>
				<!-- 로그인박스 -->
				<form action="/members/login" method="post">
					<div class="w-50 mx-auto">
						<div class="row mb-3">
							<div class="col-8 login-ipt">
								<input type="text" class="form-control mb-3 ps-4 w-100 mx-auto float-end py-3" name="userId" id="userId" placeholder="아이디">
								<input type="password" class="form-control ps-4 w-100 mx-auto float-end py-3" name="password" id="password" placeholder="비밀번호">
							</div>
							<div class="col-4">
								<button type="submit" class="login-btn mx-auto float-start" id="loginbtn">로그인</button>
							</div>
							<p th:if="${loginErrorMsg}" class="error fs-4 text-start ms-3 mt-3" th:text="${loginErrorMsg}"></p>
						</div>
					</div>
					<!-- 카카오 및 어쩌고 -->
					<div class="row w-50 mx-auto" style="height: 50px;">
						
						<div class="col-4 fs-5" style="color: #B0B0B0;">
						네이버로그인
						</div>
						<div class="col-4 fs-5" style="color: #B0B0B0;">
							<ul>
							<!-- onclick="kakaoLogin();" -->
								<li  style="list-style: none;">
							      <a href="/oauth2/authorization/kakao">
							      	<img alt="kakaologo" src="/images/kakao_login_medium_narrow.png">
							      </a>
								</li>
							</ul>
						</div>
						<div class="col-4">
							<div class="float-start ps-4">
								<div class="form-check">
									
									<label class="form-check-label m-75 ms-2">
								    	아이디 저장
										<input class="form-check-input" type="checkbox" name="id_save" id="id_save">
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label m-75 ms-2" for="flexCheckChecked">
								    	자동 로그인
										<input class="form-check-input" type="checkbox" id="flexCheckChecked">
									</label>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</form>
				<hr class="w-50 mx-auto">
				<div class="w-50 mx-auto d-flex justify-content-evenly login-btn-bt">
					<button type="button" class="btn fs-5">아이디 찾기</button>
					<div class="vr"></div>
					<button type="button" class="btn fs-5">비밀번호 찾기</button>
					<div class="vr"></div>
					<button type="button" class="btn fs-5" onclick="location.href='/members/new'">회원 가입</button>
				</div>
			</div>
		</div>
		<a href="/form/logininfo">form로그인</a>
		<a href="/oauth/loginInfo">OAuth2 로그인 정보</a>
		<a href="/loginInfo">로그인 정보</a>
		<script th:inline="javascript">
		 
			//Kakao.init('dd497cf0cb9fdd978ada1c700c14b46a'); //발급받은 키 중 javascript키를 사용해준다.
			//console.log(Kakao.isInitialized()); // sdk초기화여부판단
			//카카오로그인
			function kakaoLogin() {
			    Kakao.Auth.login({
			      success		: function (response) {
			        				Kakao.API.request({
							          url		: '/members/login',
							          success	: function (response) {
							        	  			console.log(response)
							          },
							          fail		: function (error) {
							            			console.log(error)
							          },
							        })
							      },
			      fail			: function (error) {
			        				console.log(error)
			      },
			    })
			  }
		</script>
	</div>
</body>
</html>