<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<!-- th:fragment=다른 페이지에 포함시킬 영역을 만들어서 이름을 붙여줌 -->
	<div th:fragment="leftheader">
		<div class="w-100 logo-wrap">
			<div class="logo-title">
				<div class="row">
					<div class="hit col-4 text-start">은</div>
					<div class="col-4 text-start">밀</div>
					<div class="col-4 text-start">한</div>
				</div>
				<div class="row">
					<div class="hit col-12 text-start">비</div>
					<div class="col-12 text-start">상</div>
					<div class="col-12 text-start">금</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>