<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="css">

</th:block>
</head>
<body>
	<!-- th:fragment=다른 페이지에 포함시킬 영역을 만들어서 이름을 붙여줌 -->
	<div th:fragment="leftheader">
		<div class="logo-title">
			<span class="hit fs-2 fw-bold p-2">은</span>
			<span class="fs-2 fw-bold p-2">밀</span>
			<span class="fs-2 fw-bold p-2">한</span>
			<p class="hit fs-2 fw-bold m-0 px-2 py-1">비</p>
			<p class="fs-2 fw-bold m-0 px-2 py-1">상</p>
			<p class="fs-2 fw-bold m-0 px-2 py-1">금</p>
		</div>
	</div>
</body>
</html>