<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>목록 상세내용</title>
<th:block layout:fragment="script">
	<script th:inline="javascript">
	
	</script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-md text-center list-wrap">
			<div class="list-wrap-img mx-auto">
				<div class="mx-auto">
					<div class="fs-1 my-5" th:text="${#temporals.format(accDtl.accDate, 'yyyy월 MM월 dd일')}"></div>
					
					<table class="table table-border fs-4">
						<tr>
							<th>금액 : </th>
							<td th:text="${accDtl.money}"></td>
						</tr>
						<tr>
							<th>카테고리 : </th>
							<td>
								<span th:if="${accDtl.subCategoryDto.id == 33}" th:text="${ctg.mainCategoryDto.mainCtgName} + '-' + ${accDtl.otherCtgName}"></span>
								<span th:unless="${accDtl.subCategoryDto.id == 33}" th:text="${ctg.mainCategoryDto.mainCtgName} + '-' + ${ctg.subCtgName}"></span>
							</td>
						</tr>
						<tr>
							<th>내용 : </th>
							<td th:text="${accDtl.accTitle}"></td>
						</tr>
					</table>
					<div>
						<p class="text-break w-75 mx-auto fs-4" th:text="${accDtl.accDtlMemo}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>