<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>목록 상세내용</title>
<th:block layout:fragment="script">
	<script th:inline="javascript">
	
	</script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-md text-center list-wrap">
			<div class="list-wrap-img mx-auto">
			
				<div class="mx-auto">
				
					<div class="fs-1 my-5">2023년 02월 03일</div>
					
					<table class="table table-border fs-4">
						<tr>
							<th>금액 : </th>
							<td>10,000원</td>
						</tr>
						<tr>
							<th>카테고리 : </th>
							<td>움식</td>
						</tr>
						<tr>
							<th>내용 : </th>
							<td>불백</td>
						</tr>
					</table>
					<div>
						<p class="text-break w-75 mx-auto fs-4">
							오늘 저짝 라멘집쪽 제주집인가 어딘가 갔다왔는데 맛있었다.
							사람들이 좀 많아서 음식이 늦게 나왔지만 나쁘지않음!
						</p>
					</div>
					
				</div>
				
				
			</div>
		</div>
		
	</div>
</body>
</html>