<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>기간별 가계부 조회</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<th:block layout:fragment="script">

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-md text-center">
			<form class="reg-form mx-auto w-100" action="/graph/pieGp" th:object="${AccountBookSearchDto}" method="post">
				<div class="result-wrap mx-auto rounded-5">
			
					<div class="d-flex justify-content-around flex-column mb-3" style="height: 100%;">
						<h2 class="mx-auto my-5" style="font-size: 3rem; color: #8F73DF; font-weight: bold;">기간별 가계부 조회</h2>
					
						<div class="row my-5 w-50 mx-auto">
							<div class="col-sm float-end">
								<select th:field="*{searchDateType}" id="searchDate" class="add-ctg-sel px-auto">
									<th:block th:value="${AccountBookSearchDto.searchDateType}">
										<option value="all">기간전체</option>
										<option value="1d">1일</option>
										<option value="1w">1주</option>
										<option value="1m">1달</option>
										<option value="6m">6달</option>
									</th:block>
								</select>
							</div>
						</div>
				
						<div class="w-100">
							<div class="mx-auto" style="width: 30rem; height: 30rem;">
								<!--차트가 그려질 부분-->
								<canvas id="myChart"></canvas>
							</div>
						</div>
						<div class="d-flex justify-content-center">
							<a class="text-start w-25 my-5 ps-5 fs-5" style="color: #8F73DF; text-decoration: underline;" href="/graph/result">← 리스트로 돌아가기</a>
							<button type="submit" class="btn member-btn m-auto">조회하기</button>
							<a class="text-start w-25 my-5 pe-5 fs-5" style="color: #8F73DF; text-decoration: underline;"></a>
						</div>
						<a class="text-end w-100 mt-5 pe-5 fs-5" style="color: green; text-decoration: underline;">엑셀파일로 다운받기↓</a>
					</div>
				</div>
				<input type="hidden" class="searchDtoList" th:value="${searchDtoList}">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			</form>
		</div>
		<!-- <script type="text/javascript" src="../js/chart.js"></script> -->
		<script th:inline="javascript">

		var ctgList = new Array();
		var moneyList = new Array();
		[# th:each="searchDto, stat : ${searchDtoList}"]

		ctgList.push([[${searchDto.mainCtgName}]]);
		moneyList.push([[${searchDto.money}]]);
		[/]
		
		var context = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(context, {
								type: 'pie', // 차트의 형태
								data: { // 차트에 들어갈 데이터
								
								labels: ctgList,
		                    	datasets: [
		                        { //데이터
		                            label: 'test1', //차트 제목
		                            fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
		                            data: moneyList,
		                            backgroundColor: [
		                                //색상
		                                'rgba(255, 051, 153, 0.2)',
		                                'rgba(204, 051, 000, 0.2)',
		                                'rgba(051, 204, 153, 0.2)',
		                                'rgba(204, 051, 255, 0.2)',
		                                'rgba(255, 102, 000, 0.2)',
		                                'rgba(153, 051, 000, 0.2)',
		                                'rgba(000, 102, 204, 0.2)',
		                                'rgba(153, 255, 204, 0.2)',
		                                'rgba(255, 153, 000, 0.2)',
		                                'rgba(102, 000, 204, 0.2)'
		                            ],
		                            borderColor: [
		                                //경계선 색상
		                                'rgba(255, 051, 153, 1)',
		                                'rgba(204, 051, 000, 1)',
		                                'rgba(051, 204, 153, 1)',
		                                'rgba(204, 051, 255, 1)',
		                                'rgba(255, 102, 000, 1)',
		                                'rgba(153, 051, 000, 1)',
		                                'rgba(000, 102, 204, 1)',
		                                'rgba(153, 255, 204, 1)',
		                                'rgba(255, 153, 000, 1)',
		                                'rgba(102, 000, 204, 1)'
		                            ],
		                            borderWidth: 1 //경계선 굵기
		                        }
		                    ]
		                },
		                options: {
		                    scales: {
		                        yAxes: [
		                            {
		                                ticks: {
		                                    beginAtZero: true
		                                }
		                            }
		                        ]
		                    }
		                }
		            });
		</script>
	</div>
</body>
</html>